
.searchBar {
    margin: 1rem auto !important;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(254, 254, 254, 0.291);
    width: 100% !important;
   }

  .input_search {
      color: aliceblue !important;
      border-color: aliceblue;
  }